.containerX {
  padding: 5px;
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
  font-family: verdana;
  font-style: normal;
  background: lightgreen;
}

div.container {
  display: flex;
  margin: 10px;
  padding:5px;
  color: white;
  background: red;
}

.container div[ng-reflect-flex*=calc] {
  color: #343434;
  background-color: #8bc34a;
}

.container div.col3 {
  background-color: #009682;
  color: white;
}

div.container > div {
  flex: 1 1 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #03a9f4;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

div.container > div:first-child {
  margin-left: 0;
}

#main {
  font-family: Arial;
  font-style: normal;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
